<html>
  <link rel="stylesheet" type="text/css" href="/Poster/build/app.css" />
  <link rel="stylesheet" type="text/css" href="/Poster/build/ttf.css" />
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- <script id="__bs_script__">
    //<![CDATA[
    document.write(
      "<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.13'><\/script>".replace(
        "HOST",
        location.hostname
      )
    );
    //]]>
  </script> -->
  <div class="page_wrapper">
    <div class="page_center">
      <script src="/Poster/build/app.js"></script>
      <script src="/Poster/build/runtime.js"></script>
      <script src="/Poster/js/poster.js"></script>
      <!---Place the content of your poster inside this div--->
      <div id="unsw" class="poster_w content">
        <img id="logo" src="/assets/images/Igem Logo.png" />
        <img id="background" src="/assets/images/background.png" />
        <div class="rows">
          {% assign row = 1 %}
          <div class="row">
            {% for section in collections.sectionRowSorted %} {% if row <
            section.data.row %} {% assign row = row | plus: 1 %}
          </div>
          <div class="row">
            {% endif %}
            <div class="section" id="{{ section.fileSlug }}">
              <div
                class="title {% unless section.data.image-first %}wrap{% endunless %}"
              >
                {% if section.data.image-first %} {% for image in
                section.data.images %}
                <img src="{{ image | prepend: '/assets/images/' }}" />
                {% endfor %} {% endif %}
                <div class="poster-titles">
                  <h1>{{ section.data.section-title }}</h1>
                  <h2>{{ section.data.subtitle }}</h2>
                </div>
                {% unless section.data.image-first %}
                <div class="poster-images">
                  {% for image in section.data.images %}
                  <img src="{{ image | prepend: '/assets/images/' }}" />
                  {% endfor %}
                </div>
                {% endunless %}
              </div>
              <div class="info">
                <div class="title">
                  <h1>{{ section.data.title }}</h1>
                </div>
                <div class="text">{{ section.templateContent }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="poster_w display">
        <h3 id="section_title"></h3>
        <p id="section_text"></p>
      </div>
    </div>
  </div>
</html>
