$site-white: #fbf5f9;
$site-pink: #f1a9ba;
$site-grey: #6b7473;
$site-green: #6dc6ac;
$site-dark-green: #455655;

$width: 4px;

html {
  // force the scrollbar to always appear, avoiding longer right-hand content
  // resizing the poster
  overflow-y: scroll;
}

.page_center {
  h1 {
    font-family: "josefin sans" !important;
    color: $site-grey !important;
    font-size: 2em;
  }
  h2 {
    font-family: "Lato" !important;
    color: $site-grey !important;
    font-size: 1em;
  }

  p {
    font-family: "Source Sans Pro" !important;
  }
}

.display {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80% !important;
  }
}

.content,
#unsw {
  word-break: break-all;

  position: relative;
  #background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #logo {
    height: 5%;
    width: auto;
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
  }
}

img:hover {
  opacity: 1 !important;
}

#rows {
  * {
    margin: 0;
  }
  .row {
    max-width: 82.2% !important;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: $site-pink solid;
    border-top-width: $width / 2;
    border-left-width: $width;
    border-right-width: $width;
    border-bottom-width: $width / 2;

    // styling for title section
    &:nth-child(1) {
      border: none;
      #title {
        background-color: transparent;
        outline: unset;
        h1 {
          color: $site-green !important;
          font-size: 3vw;
          text-shadow: 2px 2px 0 $site-dark-green;
        }
        h2 {
          font-size: 100%;
        }
      }
    }

    &:nth-child(2) {
      border-top-width: $width;
    }
    &:nth-last-child(1) {
      border-bottom-width: $width;
    }
    .section, #title {
      display: flex;
      max-width: 100%;
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      outline: $site-pink solid $width;
      background-color: $site-white;
      justify-content: center;
      align-content: center;
      &:hover {
        outline: $site-green solid $width;
        z-index: 1;
      }
    }

    .poster-titles {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .row-1 {
    height: 14.6%;
    @media only screen and (max-width: 850px) {
      height: 9.8vw;
    }

    h1 {
      font-weight: 700;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
    }
  }
  .row-2, .row-3, .row-4, .row-6 {
    height: 10%;
  }
  .row-5 {
    height: 20%;
  }
  .row-7 {
    height: 17%;
    img {
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
    }
    h1 {
      font-size: 1vw;
    }
  }

  .row-2 h1 {
    font-size: 1.8vw;
  }
  .row-3 {
    h1 {
      font-size: 1.5vw;
    }
    h2 {
      font-size: .8vw;
    }
  }
  .row-4, .row-6 {
    h1 {
      font-size: 1.7vw;
    }
    h2 {
      font-size: 1vw;
    }
  }
  .row-5 h1 {
    font-size: 2vw;
  }


  .title {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .poster-images {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 80%;
  }
}

.image-first {
  width: 25% !important;
}
