$site-white: #fbf5f9;
$site-pink: #f1a9ba;
$site-grey: #6b7473;

$width: 2px;

html {
  // force the scrollbar to always appear, avoiding longer right-hand content
  // resizing the poster
  overflow-y: scroll;
}

.content {
  position: relative;
  .row {
    width: 84% !important;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    .section {
      display: block;
      flex-basis: 100%;
      text-align: center;
      border: $site-pink solid;
      border-top-width: $width;
      border-left-width: $width;
      border-right-width: $width;
      border-bottom-width: 0;
    }
  }
  #background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    &:hover {
      opacity: 100%;
    }
  }
}
